{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>{{ subject.name }} — Testlar</title>
    <link rel="stylesheet" href="{% static 'tests/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>{{ subject.name }} fanidagi testlar</h1>
<ul>
    {% for t in tests %}
    <li>
        <a class="test-link" href="{% url 'quiz' subject.id t %}">Test {{ t }}</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'subject_list' %}" class="btn btn-success">Fanlar ro'yxatiga qaytish</a>
</body>
</html>